html {
  box-sizing: border-box;
  width: 100vw;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background-color: #34495E;
	text-align: center;
	width: 100vw;
	margin: 0;
}

.info {
	width: 600px;
	margin: auto;
	color: #fff;
}

#root {
	width: 600px;
	margin: auto;
	color: #fff;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	.info, #root {
		max-width: 100vw;
		padding: 8px;
	}

	.info {
		margin: 0 !important;
	}
}

.year {
	box-sizing: border-box;
	background: rgba(214, 219, 223, 0.4);
	padding: 20px;
	margin: 10px 0;
	border-radius: 4px;
}

.pie_wrapper {
	display: flex;
	justify-content: space-around;
}

.pie {
	width: 260px;
	height: 260px;
	border-radius: 50%;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	.pie {
		width: 50vw;
		height: 50vw;
	}
}

.legend {
	text-align: right;
}

.pie, .legend {
	align-self: center;
}

.legend span {
	font-size: 1.1em;
	font-weight: bold;
}

.legend-list {
	list-style-type: none;
}

.legend-list li {
	text-transform: uppercase;
	font-size: 16px;
	padding: 4px 8px;
	margin: 4px auto;
}

.legend-list li span {
	font-size: 0.8em;
	display: block;
	color: rgba(255, 255, 255, 0.8);
	font-weight: normal;
}

.info {
	text-align: left;
	margin: 26px auto;
}

.info p {
	font-size: 0.8em;
	text-align: justify;
}

.by {
	color: #fff;
	font-weight: normal;
	font-size: 0.8em;
	margin: 20px auto;
}

.by a {
	color: #fff;
	text-decoration: underline;
}